
{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Text Summarizer App</h1>

            <table>
                <tr>
                    <th>
                        <form method="post">
                            <textarea rows="25" cols="50" name="text"></textarea>
                        </br>
                        </br>
                            <input class="btn btn-primary" type="submit">
                        </form>
                    </th>
                    <th>
                        <div class="result">
                            {{summary}}
                        </div>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
